---
// Imports
import DefaultLayout from '@layouts/Default.astro';

// Create Static Routes
export async function getStaticPaths() {
    const response = await fetch(import.meta.env.PUBLIC_API_URL, {
        method: 'POST',
        body: JSON.stringify({
            query: `
                    query entryQuery($section: [String]!, $site: [String]!) {
                        entries(section: $section, site: $site){
                            id
                            title
                            uri
                            uri
                            typeHandle
                            sectionHandle
                            siteId
                            }
                        }
                    `,
            variables: {
                section: ['pages', 'news', 'home'],
                site: ['defaultDe']
            }
        }),
        headers: {
            'Content-Type': 'application/json',
            'Authorization': import.meta.env.PUBLIC_API_TOKEN,
        },
    }).then(response => response.json());
    const { data: { entries } } = await response
    return entries.map((entry: any) => {
        return {
            params: {
                uri: entry.uri === '__home__' ? 'index' : entry.uri,
                site: entry.siteId === 1 ? 'en' : 'de'
            },
            props: { entry, siteId: entry.siteId },
        };
    });
}

// Variables
const { entry } = Astro.props;
---

<DefaultLayout title={entry.title} lang="de" {entry}>
    <h1>{entry.title}</h1>
</DefaultLayout>
