---
const {
    PUBLIC_LIVE_PREVIEW,
} = import.meta.env;

export async function getStaticPaths() {
    const response = await fetch(import.meta.env.PUBLIC_API_URL, {
        method: 'POST',
        body: JSON.stringify({
            query: `
                    query getPages($section: [String]!, $site: [String]!) {
                        pages: entries(section: $section, site: $site){
                            id
                            title
                            uri
                            uri
                            typeHandle
                            sectionHandle
                            siteId
                            }
                        }
                    `,
            variables: {
                section: ['pages', 'news', 'home'],
                site: ['defaultDe']
            }
        }),
        headers: {
            'Content-Type': 'application/json',
            'Authorization': import.meta.env.PUBLIC_API_TOKEN,
        },
    }).then(response => response.json());


    const { data: { pages } } = await response

    return pages.map((page: any) => {
        return {
            params: {
                uri: page.uri === '__home__' ? 'index' : page.uri,
                site: page.siteId === 1 ? 'en' : 'de'
            },
            props: { page, siteId: page.siteId },
        };
    });
}

const { uri } = Astro.params;
const { page, siteId } = Astro.props;

---

<h1>{uri}: {page.title}</h1>
<h2>Live preview: {PUBLIC_LIVE_PREVIEW}</h2>
<h3>Site: {siteId}</h3>