# Craft 3 .gitignore
#
# Example .gitignore file for Craft 3 CMS projects
#
# @author    nystudio107
# @copyright Copyright (c) 2017 nystudio107
# @link      https://nystudio107.com/
# @package   nystudio107/craft
# @since     1.0.0
# @license   MIT

# This file should be renamed to '.gitignore' and placed in your
# Craft 3 CMS project root directory

# CRAFT ENVIRONMENT
.env*
!.env.example
!.env.ddev.example

# COMPOSER
/backend-craftcms/vendor

# CRAFT STORAGE
/backend-craftcms/storage/*
!/backend-craftcms/storage/rebrand/
!/backend-craftcms/storage/.gitkeep

# ASSETS
/backend-craftcms/web/assets/*
/backend-craftcms/web/cpresources/*
/backend-craftcms/web/dist/*
/backend-craftcms/web/cache/*

# TAILWIND
/_tailwind/*

# BUILD FILES
/bower_components/*
/node_modules/*
/build/*
/yarn-error.log
/npm-debug.log

# TRANSCODER
/backend-craftcms/web/transcoder/*

# MISC FILES
.cache
.DS_Store
.fleet
.idea
.project
.settings
*.esproj
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
config.codekit3
prepros-6.config

# Craft Related
/backend-craftcms/config/license.key
