---
// import { setCompVariants } from '@utils/setCompVariants';

export interface Props {
  propTypeHandle?: string;
  propQuote: string;
  propSource?: string;
  propSourceUrl?: string;
  propSourceSubline?: string;
}

const { propQuote } = Astro.props as Props;
---

<blockquote>
  <p>
    {propQuote}
  </p>
  <!-- {propSource && !propSourceUrl && <cite>{propSource}</cite>}
  {
    propSource && propSourceUrl && (
      <cite>
        <a href={propSourceUrl}>{propSource}</a>
      </cite>
    )
  } -->
</blockquote>
