@layer utilities {
  .leading-zero {
    line-height: var(--leading-none);
  }

  .leading-tight {
    line-height: var(--leading-tight);
  }

  .leading-snug {
    line-height: var(--leading-snug);
  }

  .leading-normal {
    line-height: var(--leading-normal);
  }

  .leading-relaxed {
    line-height: var(--leading-relaxed);
  }

  .leading-loose {
    line-height: var(--leading-loose);
  }
}
