@layer utilities {
  .text-fluid-xs {
    font-size: var(--text-fluid-xs);
  }

  .text-fluid-sm {
    font-size: var(--text-fluid-sm);
  }

  .text-fluid-base {
    font-size: var(--text-fluid-base);
  }

  .text-fluid-md {
    font-size: var(--text-fluid-md);
  }

  .text-fluid-lg {
    font-size: var(--text-fluid-lg);
  }

  .text-fluid-xl {
    font-size: var(--text-fluid-xl);
  }

  .text-fluid-2xl {
    font-size: var(--text-fluid-2xl);
  }

  .text-fluid-3xl {
    font-size: var(--text-fluid-3xl);
  }

  .text-fluid-4xl {
    font-size: var(--text-fluid-4xl);
  }

  .text-fluid-5xl {
    font-size: var(--text-fluid-5xl);
  }

  .text-fluid-6xl {
    font-size: var(--text-fluid-6xl);
  }

  .text-fluid-7xl {
    font-size: var(--text-fluid-7xl);
  }

  .text-fluid-8xl {
    font-size: var(--text-fluid-8xl);
  }

  .text-fluid-9xl {
    font-size: var(--text-fluid-9xl);
  }
}
