---
import pageQuery from '../graphql/entry.page.graphql'
import { useGraphqlQuery } from '../composables/useGraphqlQuery';
import { useGetCurrentSite } from '../composables/useGetCurrentSite';
import { print } from 'graphql/language/printer';

const uri = Astro.params.uri === undefined ? '__home__' : String(Astro.params.uri);
const { searchParams } = Astro.url

const {
    handle: currentSiteHandle,
    language: currentSiteLanguage,
    uri: currentUri
} = useGetCurrentSite({ uri })

const { data: { page } } = await useGraphqlQuery({
    query: print(pageQuery),
    routeQuery: Object.fromEntries(searchParams),
    variables: {
        uri: currentUri,
        site: currentSiteHandle
    }
})


if (!page) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found'
    });
}
---

<h1>{uri}: {page.title}</h1>