---
export async function getStaticPaths() {
    const response = await fetch(import.meta.env.API_URL, {
        method: 'POST',
        body: JSON.stringify({
            query: `
        query getPages($section:[String]!) {
            pages: entries(section: $section){
              id
              title
              uri
              slug
              typeHandle
              sectionHandle
            }
          }
        `,
            variables: {
                section: ['pages']
            }
        }),
        headers: {
            'Content-Type': 'application/json',
            'Authorization': import.meta.env.API_TOKEN,
        },
    }).then(response => response.json());


    const { data: { pages } } = await response

    return pages.map((item: any) => {
        return {
            params: { uri: item.slug },
            props: { item },
        };
    });
}

const { uri } = Astro.params;
const { item } = Astro.props;
---

<h1>{uri}: {item.title}</h1>