---
const response = await fetch('http://content.baukasten.test/api', {
    method: 'POST',
    body: JSON.stringify({
        query: `
        query getPages($section:[String]!) {
            entries(section: $section){
              id
              title
              uri
              slug
            }
          }
        `,
        variables: {
            section: ['pages']
        }
    }),
    headers: {
        'Content-Type': 'application/json',
        'Authorization': `Bearer KOTwKkTfXNRzI_u2gQPBO7OfyxXoCihi`,
    },
})


const json = await response.json();
const pages = json.data;

console.log(pages)

---

<h1>{{pages}}</h1>