defaultPlacement: end
enableVersioning: true
handle: home
name: Home
previewTargets:
  __assoc__:
    -
      - 4
      -
        __assoc__:
          -
            - label
            - 'NEXT 13 NEW'
          -
            - urlFormat
            - 'http://localhost:3000/api/preview?secret={{ getenv(''PREVIEW_TOKEN'') }}&entryUid={getCanonicalUid}&siteId={siteId}'
          -
            - refresh
            - '1'
    -
      - 3
      -
        __assoc__:
          -
            - label
            - 'NEXT 13'
          -
            - urlFormat
            - 'http://localhost:3000/'
          -
            - refresh
            - '1'
    -
      - 2
      -
        __assoc__:
          -
            - label
            - 'NEXT JS'
          -
            - urlFormat
            - '{{ getenv(''PREVIEW_URL'') }}/api/preview?secret={{ getenv(''CMS_PREVIEW_TOKEN'') }}&entryUid={canonicalUid}&siteId={siteId}'
          -
            - refresh
            - '1'
    -
      - 0
      -
        __assoc__:
          -
            - label
            - Local
          -
            - urlFormat
            - 'http://localhost:3000/live-preview?secret={{ getenv(''CMS_PREVIEW_TOKEN'') }}&uri={uri}&siteId={siteId}'
          -
            - refresh
            - '1'
    -
      - 1
      -
        __assoc__:
          -
            - label
            - Live
          -
            - urlFormat
            - 'https://preview.craftcms-baukasten-headless.pages.dev/live-preview?secret={{ getenv(''CMS_PREVIEW_TOKEN'') }}&uri={uri}&siteId={siteId}'
          -
            - refresh
            - '1'
propagationMethod: all
siteSettings:
  8153a2df-373f-4aac-9a92-d52292c9f1aa: # Baukasten (en)
    enabledByDefault: true
    hasUrls: true
    template: null
    uriFormat: __home__
  b205e203-99d0-4ee4-b75c-90a868606c4b: # Baukasten (de)
    enabledByDefault: true
    hasUrls: true
    template: null
    uriFormat: __home__
type: single
