defaultPlacement: end
enableVersioning: true
handle: pages
name: Pages
previewTargets:
  __assoc__:
    -
      - 5
      -
        __assoc__:
          -
            - label
            - 'NEXT 13'
          -
            - urlFormat
            - 'http://localhost:3000/{uri}'
          -
            - refresh
            - '1'
    -
      - 4
      -
        __assoc__:
          -
            - label
            - 'NEXT JS'
          -
            - urlFormat
            - '{{ getenv(''PREVIEW_URL'') }}/api/preview?secret={{ getenv(''CMS_PREVIEW_TOKEN'') }}&entryUid={canonicalUid}&siteId={siteId}'
          -
            - refresh
            - '1'
    -
      - 1
      -
        __assoc__:
          -
            - label
            - Local
          -
            - urlFormat
            - 'http://localhost:3000/live-preview?secret={{ getenv(''CMS_PREVIEW_TOKEN'') }}&uri={uri}&siteId={siteId}'
          -
            - refresh
            - '1'
    -
      - 2
      -
        __assoc__:
          -
            - label
            - Live
          -
            - urlFormat
            - 'https://preview.craftcms-baukasten-headless.pages.dev/live-preview?secret={{ getenv(''CMS_PREVIEW_TOKEN'') }}&uri={uri}&siteId={siteId}'
          -
            - refresh
            - '1'
propagationMethod: all
siteSettings:
  8153a2df-373f-4aac-9a92-d52292c9f1aa: # Baukasten (en)
    enabledByDefault: true
    hasUrls: true
    template: null
    uriFormat: '{parent.uri}/{slug}'
  b205e203-99d0-4ee4-b75c-90a868606c4b: # Baukasten (de)
    enabledByDefault: true
    hasUrls: true
    template: null
    uriFormat: '{parent.uri}/{slug}'
structure:
  maxLevels: 3
  uid: f690c366-ca7d-46e4-89ba-e332e9f3a92b
type: structure
