---
import { t, getTranslations } from "@/utils/i18n";

// Translations
const translations = await getTranslations("en", Astro.url as string);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{t("error.404.title", translations)}</title>
  </head>
  <body>
    <div class="bg-primary-400 text-white">
      <h1>{t("error.404.title", translations)}</h1>
      <p>{t("error.404.description", translations)}</p>
    </div>
  </body>
</html>
